* {
	font-family: sans-serif;
 	}
 
 .clean {
 	clear: both;
 	}
 
body {
 	background-color: white;
 	margin: 0;
 	padding: 0;
 	}
 
header {
 	width: 100%;
 	height: 140px;
 	}
header .header-top-left{
	float: left;
	background-color: white;
	width:15%;
	height: 70px;
	text-decoration: underline;
	text-align: center;
	padding: 20px 23px 15px 23px;
	font-size: 18px;
	font-style: serif;
	font-weight: 600px;
	box-sizing: border-box;
    border-bottom: 1px;
 	border-bottom-style: solid;
 	border-bottom-color: grey;
	
}
header .header-top-center{
	float: left;
	background-color: white;
	width: 70%;
	height: 70px;
	text-align: center;
	padding: 15px 50px 15px 50px;
	box-sizing: border-box;
    border-bottom: 1px;
 	border-bottom-style: solid;
 	border-bottom-color: grey;
}

header .header-top-right{
	float: right;
	width: 15%;
	height: 70px;
	padding: 20px 60px 20px 40px;
	box-sizing: border-box;
    border-bottom: 1px;
 	border-bottom-style: solid;
 	border-bottom-color: grey;
}
.header-bottom-left1{
	float: left;
	height: 70px;
	width: 10%;
	box-sizing: border-box;
    border-bottom: 1px;
    border-left: 1px;
    border-left-style: solid;
    border-left-color: grey;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding: 20px 10px;
}

.header-bottom-left2{
	float: left;
	height: 70px;
	width: 8%;
	box-sizing: border-box;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding: 20px 10px;
   }
.header-bottom-center{
	background-color: white;
	float: left;
	height: 70px;
	width: 52%;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
  }
.header-bottom-right1{
	background-color:#3FBFBF;
	float: right;
	height: 70px;
	width: 15%;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding: 15px 30px;
} 
.header-bottom-right2{
	background-color: white;
	float: right;
	height: 70px;
	width: 15%;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    padding: 15px 30px;
}


.main {
		width:100%;
			}

	.main .image a img{
		width:100%;
		height:480px;
		position: relative;
		margin-bottom: 20px;
		}
	.main .date{
		position:absolute;
		top: 180px; 
  		left:70px;
   		width: 90%; 
   		text-decoration: none;
   		display: block;
   		float:left;
	}
	.main .date .h1{
		text-decoration: none;
		color:white;
		font-size: 17px;
		float:left;
		margin:10px;
		font-weight:600;
	}
	.main .date .h2{
		color:white;
		font-size: 17px;
		float:left;
		padding:10px 10px 10px 0;
	}
	.main .date i{
		float:right;
		margin-right: 0px;
		color:white;
	}
	.main .center{
		position: absolute;
		top:280px;
		left:33%;
		float: left;


	}
.main .center .buttons{
		left:20%S;

		}
	.main .center .buttons .button1 {
		width:80px;
		height:80px;
		border-radius:50px;
		font-size:20px;
		color:white;
		line-height:50px;
		text-align:center;
		background:transparent;
		border:2px solid #e88578;
		margin-right:10px;
		margin-top: 15px;
		margin-left:35px;
	}
	.main .center .buttons .button2 {
		width:80px;
		height:80px;
		border-radius:50px;
		font-size:20px;
		color:white;
		line-height:50px;
		text-align:center;
		background:transparent;
		border:2px solid #eded6a;
		margin-right:10px;
	}
	.main .center .buttons .button3 {
		width:80px;
		height:80px;
		border-radius:50px;
		font-size:20px;
		color:white;
		line-height:50px;
		text-align:center;
		background:transparent;
		border:2px solid #85bbf2;
		margin-right:10px;
	}
	.main .center .buttons .button4 {
		width:80px;
		height:80px;
		border-radius:50px;
		font-size:20px;
		color:white;
		line-height:50px;
		text-align:center;
		background:transparent;
		border:2px solid #4596e8;
		margin-right:10px;
	}
.main .center .classes{
		float:left;
		text-decoration:none;
		display:block;
		margin-left:15px;
	}
	.main .center .classes li{
			font-size:12px;
			color:white;
			text-decoration: none;
			float:left;
			margin:0 35px 0 0px;
			display:block;
	}
.main .bottom {
		display: inline;
		position: absolute;
		top:80%;
		width:100%;
	}
	.main .bottom .visit{
		margin-left:5%;
		margin-top:3%;
	}
	.main .bottom .visit .button1 {
    background-color:#86c0f9;
    border: none;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    border-radius:20px;
    font-weight: 600;
}
.main .bottom .visit .button2 {
    background-color:transparent;
    border: 1px solid white;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    border-radius:20px;
    font-weight: 600;
}
.main .bottom .visit .button3 {
    background-color:transparent;
    border: 1px solid white;
    color: white;
    padding: 9px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    border-radius:20px;
    font-weight: 600;
}
.main .bottom .vote {
	float:right;
	margin-right:5%;
	}
	.main .bottom .vote .button1 {
	    background-color:transparent;
	    float:right;
	    border: 1px solid white;
	    color: white;
	    padding: 9px 25px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
	    margin: 2px 2px;
	    border-radius:20px;
	    font-weight: 600;
}

.content-head {
		display: inline-block;
		width:100%;
}
	.content-head .left{
		margin-left:15px;
	}
	.content-head .left li{
		list-style:none;
		float:left;
		color:#262626;
		font-size: 16px;
	}
		.content-head .left li a{
			text-decoration: none;
			color:#262626;
			font-weight: 600;
			padding-right: 10px;
			margin-top: 15px;
		}
	.content-head .right{
		float:right;
		list-style: none;
		color:#262626;
		margin-right:100px;
	}
.content-head .right li{
		float:left;
		padding-left: 10px;
		font-size: 16px;
	}
	.content-head .right li:first-of-type{
		font-weight: 600;
	}
	